* {
  color: rgb(8, 8, 48);
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 238, 241);
}

h1,
h3 {
  text-align: center;
  font-family: "Recursive", sans-serif;
  font-weight: 500;
}
h1 {
  font-size: 64px;
  letter-spacing: -3px;
}
h3 {
  font-size: 24px;
}

p {
  font-family: "Raleway", sans-serif;
}

#filterInput {
  padding: 10px;
  border: 2px solid rgb(29, 28, 28);
}

button {
  border: 2px solid rgb(29, 28, 28);
}

#cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 40ch);
}

#cards > div {
  border: 2px solid rgb(29, 28, 28);
  background-color: rgb(255, 255, 255);
  margin: 0.5em;
  padding: 1em;
}
.searchPanel {
  display: flex;
  justify-content: center;

  margin-bottom: 2em;
}

.searchPanel > * {
  margin: 10px;
}
#filterButton:hover {
  background-color: hsl(120, 100%, 50%);
}
#resetButton:hover {
  background-color: hsl(29, 100%, 50%);
}
